<article class="container terms">

	<!-- Terms -->
	<header class="page-header">
		<h1>Terms</h1>
	</header>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#terms" data-toggle="tab">Terms of Use</a></li>
		<li class=""><a href="#privacy" data-toggle="tab">Privacy Policy</a></li>
		<li class=""><a href="#cookie" data-toggle="tab">Cookie Policy</a></li>
	</ul>
	<div class="tab-content">
		<!-- terms content -->
		<div class="tab-pane active" id="terms">
			<h2>Terms of Use</h2>

			<div class="row">
				<p>Welcome to Orights® (“Orights”, "Platform", "Services", "Website", “we”, “our”, or “us”). </p>
				<p>Our goal is to introduce Licensees and content rights holders ("Licensors") such as publisher, agency, and author and simplify the whole licensing process for contents businesses.</p>
				<p>By using Orights (including by simply viewing content on Orights.com (the “Website”), you are agreeing that you, and each person you allow to access Orights through your account, will abide by the terms of the following agreement and set forth in its entirety below. </p>
				<p>
				These Terms of Use, together with our Privacy Policy and Cookies Policy, and any other terms specifically referred to in any of those documents, constitute a legally binding agreement (the “Agreement”) between you and Orights in relation to your use of the Website, Apps and Services.
				</p>
			</div>

			<div class="row">
				<h3>Contents</h3>
				<ol>
					<li><a href="#Acceptance of Terms of Use">Acceptance of Terms of Use</a></li>
					<li><a href="#Changes to Terms of Use">Changes to Terms of Use</a></li>
					<li><a href="#Description of the Platform">Description of the Platform</a></li>
					<li><a href="#Your Orights Account">Your Orights Account</a></li>
					<li><a href="#Your Use of the Platform">Your Use of the Platform</a></li>
					<li><a href="#Your Content">Your Content</a></li>
					<li><a href="#Grant of License">Grant of License</a></li>
					<li><a href="#Representations and Warranties">Representations and Warranties</a></li>
					<li><a href="#Liability for Content">Liability for Content</a></li>
					<li><a href="#Reporting Infringements">Reporting Infringements</a></li>
					<li><a href="#Third Party Websites and Services">Third Party Websites and Services</a></li>
					<li><a href="#Blocking and Removal of Content">Blocking and Removal of Content</a></li>
					<li><a href="#Repeat Infringers">Repeat Infringers</a></li>
					<li><a href="#Disclaimer">Disclaimer</a></li>
					<li><a href="#Indemnification">Indemnification</a></li>
					<li><a href="#Data Protection Privacy and Cookies">Data Protection, Privacy, and Cookies</a></li>
					<li><a href="#Changes to the Platform Accounts and Pricing">Changes to the Platform, Accounts and Pricing</a></li>
					<li><a href="#Termination">Termination</a></li>
					<li><a href="#Assignment to Third Parties">Assignment to Third Parties</a></li>
					<li><a href="#Severability">Severability</a></li>
					<li><a href="#Entire Agreement">Entire Agreement</a></li>
					<li><a href="#Third Party Rights">Third Party Rights</a></li>
					<li><a href="#Applicable Law and Jurisdiction">Applicable Law and Jurisdiction</a></li>
				</ol>
			</div>

			<div class="row">
				<h3 id="Acceptance of Terms of Use">Acceptance of Terms of Use</h3>
				<p>Please read these Terms of Use, our Privacy Policy and Cookies Policy very carefully. If you do not agree to any of the provisions set out in those documents, you should not use the Website, Apps or any of the Services. By accessing or using the Platform, registering an account, or by viewing, accessing, uploading or downloading any information or content from or to the Platform, you represent and warrant that you have read and understood the Terms of Use, Privacy Policy, and Cookies Policy, will abide by them.</p>
			</div>

			<div class="row">
				<h3 id="Changes to Terms of Use">Changes to Terms of Use</h3>
				<p>
				We reserve the right to change, alter, replace or otherwise modify these Terms of Use at any time. The date of last modification is stated at the end of these Terms of Use. It is your responsibility to check this page from time to time for updates.
				</p>
				<p>
				When we make any updates to these Terms of Use, we will highlight this fact on the Website. In addition, if you register an account and these Terms of Use are subsequently changed in any material respect (for example, for security, legal, or regulatory reasons), we will notify you in advance by sending a message to your Orights account and/or an email to the email address that you have provided to us, and the revised Terms of Use will become effective six (6) weeks after such notification. You will have no obligation to continue using the Platform following any such notification, but if you do not terminate your account as described in the Termination section below during such six (6) week period, your continued use of the Platform after the end of that six (6) week period will constitute your acceptance of the revised Terms of Use.
				</p>
			</div>

			<div class="row">
			 	<h3 id="Description of the Platform">Description of the Platform</h3>
				<p>
				The Platform is a hosting service. Registered users of the Platform may submit, upload and post text, photos, pictures, graphics, comments, and other content, data or information (“Content”), which will be stored by Orights at the direction of such registered users, and may be shared and distributed by such registered users, and other users of the Platform, using the tools and features provided as part of the Platform and accessible via the Website, Apps and elsewhere. The Platform also enables registered users to interact with one another and to contribute to discussions, and enables any user of the Website, Apps or certain Services (who may or may not be registered users of the Platform) to view and share Content uploaded and made available by registered users.
				</p>
				<p>
				We may, from time to time, release new tools and resources on the Website, release new versions of our Apps, or introduce other services and/or features for the Platform. Any new services and features will be subject to these Terms of Use as well as any additional terms of use that we may release for those specific services or features.
				</p>
			</div>

			<div class="row">
				<h3 id="Your Orights Account">Your Orights Account</h3>
				<p>
				You are not obliged to register to visit and view the Platform. However, access to the Apps, certain Services, and certain Content is only available to registered users.
				</p>
				<p>
				When you register to use the Platform, you will provide us with your email address, and will set password for your account. You must ensure that the email address that you provide is, and remains, valid. Your email address and any other information you chose to provide about yourself will be treated in accordance with our Privacy Policy.
				</p>
				<p>
				If you open an account on behalf of a company, organization, or other entity, then (a) "you" includes you and that entity, and (b) you represent and warrant that you are authorized to grant all permissions and licenses provided in these Terms and bind the entity to these Terms, and that you agree to these Terms on the entity's behalf.
				</p>
				<p>
				You are solely responsible for maintaining the confidentiality and security of your email address and password, and you will remain responsible for all use of your email address and password, and all activity emanating from your account, whether or not such activity was authorized by you.
				</p>
				<p>
				If your email address or password is lost or stolen, or if you believe that your account has been accessed by unauthorized third parties, you are advised to notify Orights by email, and should change your password at the earliest possible opportunity.
				</p>
				<p>
				We reserve the right to disallow, cancel, remove or reassign certain permalinks in appropriate circumstances, as determined by us in our sole discretion, and may, with or without prior notice, suspend or terminate your account if activities occur on that account which, in our sole discretion, would or might constitute a violation of these Terms of Use, or an infringement or violation of the rights of any third party, or of any applicable laws or regulations.
				</p>
				<p>
				You may terminate your account at any time as described in the Termination section below.
				</p>
			</div>

			<div class="row">
				<h3 id="Your Use of the Platform">Your Use of the Platform</h3>
				<p>
			Subject to your strict compliance with these Terms of Use, Orights grants you a limited, personal, non-exclusive, revocable, non-assignable and non-transferable right and license to use the Platform in order to view Content uploaded and posted to the Website, to contact to other Users on the Platform and to share Content using the features of the Platform where the appropriate functionality has been enabled by the user who uploaded the relevant Content (the “Uploader”).
				</p>
				<p>
			In addition, if you register to use the Platform, and subject to your strict compliance with these Terms of Use, Orights grants you a limited, personal, non-exclusive, revocable, non-assignable and non-transferable right and license to: <br>
				<ol>
					<li> submit, upload or post Content to the Platform strictly as permitted in accordance with these Terms of Use and any other applicable terms posted on the Website from time to time;
					<li> participate in the community areas and communicate with other members of the Orights community strictly in accordance with these Terms of Use and our Community Guidelines; and
					<li> use or Apps and other Services provided as part of the Platform strictly as permitted in accordance with these Terms of Use and any other terms applicable to those Apps or Services from time to time.
				</ol>
				</p>
				<p>
			The above licenses are conditional upon your strict compliance with these Terms of Use, including, without limitation, the following:<br>
				<ol>
					<li> You must not adapt, copy, republish, make available or otherwise communicate to the public, display, perform, transfer, share, distribute or otherwise use or exploit any Content on or from the Platform, except (i) where such Content is Your Content, or (ii) as permitted under these Terms of Use, and within the parameters set by the Uploader (for example, under the terms of Creative Commons licences selected by the Uploader).
					<li> You must not use any Content (other than Your Content) in any way that is designed to create a separate content service or that replicates any part of the Platform offering.
					<li> You must not employ scraping or similar techniques to aggregate, repurpose, republish or otherwise make use of any Content.
					<li> You must not employ any techniques or make use of any services, automated or otherwise, designed to misrepresent the popularity of Your Content on the Platform, or to misrepresent your activity on the Platform, including without limitation by the use of bots, botnets, scripts, apps, plugins, extensions or other automated means to register accounts, log in, add followers to your account, play Content, follow or unfollow other users, send messages, post comments, or otherwise to act on your behalf, particularly where such activity occurs in a multiple or repetitive fashion. You must not offer or promote the availability of any such techniques or services to any other users of the Platform.
					<li> You must not alter or remove, attempt to alter or remove, any trademark, copyright or other proprietary or legal notices contained in, or appearing on, the Platform or any Content appearing on the Platform (other than Your Content).
					<li> You must not, and must not permit any third party to, copy or adapt the object code of the Website or any of the Apps or Services, or reverse engineer, reverse assemble, decompile, modify or attempt to discover any source or object code of any part of the Platform, or circumvent or attempt to circumvent or copy any copy protection mechanism or access any rights management information pertaining to Content other than Your Content.
					<li> You must not use the Platform to upload, post, store, transmit, display, copy, distribute, promote, make available or otherwise communicate to the public:
						<ul>
							<li>any Content that is offensive, abusive, libelous, defamatory, obscene, racist, sexually explicit, ethnically or culturally offensive, indecent, that promotes violence, terrorism, or illegal acts, incites hatred on grounds of race, gender, religion or sexual orientation, or is otherwise objectionable in Orights’s reasonable discretion;
							<li>any information, Content or other material that violates, plagiarizes, misappropriates or infringes the rights of third parties including, without limitation, copyright, trademark rights, rights of privacy or publicity, confidential information or any other right; or
							<li>any Content that violates, breaches or is contrary to any law, rule, regulation, court order or is otherwise is illegal or unlawful in Orights’s reasonable opinion;
							<li>any material of any kind that contains any virus, Trojan horse, spyware, adware, malware, bot, time bomb, worm, or other harmful or malicious component, which or might overburden, impair or disrupt the Platform or servers or networks forming part of, or connected to, the Platform, or which does or might restrict or inhibit any other user's use and enjoyment of the Platform; or
							<li>any unsolicited or unauthorized advertising, promotional messages, spam or any other form of solicitation.
						</ul>
					<li> You must not commit or engage in, or encourage, induce, solicit or promote, any conduct that would constitute a criminal offence, give rise to civil liability or otherwise violate any law or regulation.
					<li> You must not rent, sell or lease access to the Platform, or any Content on the Platform.
					<li> You must not deliberately impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity, for example, by registering an account in the name of another person or company, or sending messages or making comments using the name of another person.
					<li> You must not stalk, exploit, threaten, abuse or otherwise harass another user, or any Orights employee.
					<li> You must not use or attempt to use another person's account, password, or other information, unless you have express permission from that other person.
					<li> You must not sell or transfer, or offer to sell or transfer, any Orights account to any third party without the prior written approval of Orights.
					<li> You must not collect or attempt to collect personal data, or any other kind of information about other users, including without limitation, through spidering or any form of scraping.
					<li> You must not violate, circumvent or attempt to violate or circumvent any data security measures employed by Orights or any Uploader; access or attempt to access data or materials which are not intended for your use; log into, or attempt to log into, a server or account which you are not authorized to access; attempt to scan or test the vulnerability of Orights’s servers, system or network or attempt to breach Orights’s data security or authentication procedures; attempt to interfere with the Website or the Services by any means including, without limitation, hacking Orights’s servers or systems, submitting a virus, overloading, mail-bombing or crashing. Without limitation to any other rights or remedies of Orights under these Terms of Use, Orights reserves the right to investigate any situation that appears to involve any of the above, and may report such matters to, and co-operate with, appropriate law enforcement authorities in prosecuting any users who have participated in any such violations.
				</ol>
				</p>
				<p>
			You agree to comply with the above conditions, and acknowledge and agree that Orights has the right, in its sole discretion, to terminate your account or take such other action as we see fit if you breach any of the above conditions or any of the other terms of these Terms of Use. This may include taking court action and/or reporting offending users to the relevant authorities.
				</p>
			</div>

			<div class="row">
				<h3 id="Your Content">Your Content</h3>
				<p>
			Any and all, text, photos, pictures, graphics, comments, and other content, data or information that you upload, store, transmit, submit, exchange or make available to or via the Platform (hereinafter "Your Content") is generated, owned and controlled solely by you, and not by Orights.
				</p>
				<p>
			Orights does not claim any ownership rights in Your Content, and you hereby expressly acknowledge and agree that Your Content remains your sole responsibility.
				</p>
				<p>
			You must not upload, store, distribute, send, transmit, display, make available or otherwise communicate to the public any Content to which you do not hold the necessary rights. In particular, any unauthorized use of copyright protected material within Your Content (including by way of reproduction, distribution, modification, adaptation, public display, preparation of derivative works, making available or otherwise communicating to the public via the Platform) may constitute an infringement of third party rights and is strictly prohibited. Any such infringements may result in termination of your access to the Platform as described in the Repeat Infringers section below, and may also result in civil litigation or criminal prosecution by or on behalf of the relevant rightsholder.
				</p>
				<p>
			We may, from time to time, invite or provide you with means to provide feedback regarding the Platform, and in such circumstances, any feedback you provide will be deemed non-confidential and Orights shall have the right, but not the obligation, to use such feedback on an unrestricted basis.
				</p>
			</div>

			<div class="row">
				<h3 id="Grant of License">Grant of Licence</h3>
				<p>
			By uploading or posting Your Content to the Platform, you initiate an automated process to transcode any Content and direct Orights to store Your Content on our servers, from where you may control and authorize the use, reproduction, transmission, distribution, public display, making available and other communication to the public of Your Content on the Platform and elsewhere using the Services. To the extent it is necessary in order for Orights to provide you with any of the aforementioned hosting services, to undertake any of the tasks set forth in these Terms of Use and/or to enable your use of the Platform, you hereby grant such licenses to Orights on a limited, worldwide, non-exclusive, royalty-free and fully paid basis.
				</p>
				<p>
			By uploading Your Content to the Platform, you also grant a limited, worldwide, non-exclusive, royalty-free, fully paid up, license to other users of the Platform, and to operators and users of any other websites, apps and/or platforms to which Your Content has been shared or embedded using the Services (“Linked Services”), to use, copy, repost, transmit or otherwise distribute, publicly display, adapt, prepare derivative works of, compile, make available and otherwise communicate to the public, Your Content utilizing the features of the Platform from time to time, and within the parameters set by you using the Services. You can limit and restrict the availability of certain of Your Content to other users of the Platform, and to users of Linked Services, at any time using the settings on the Platform for each rights information you post, subject to the provisions of the Disclaimer section below. Notwithstanding the foregoing, nothing in these Terms of Use grants any rights to any other user of the Platform with respect to any proprietary name, logo, trademark or service mark uploaded by you as part of Your Content (for example, your profile picture), other than the right to reproduce, publicly display, make available and otherwise communicate to the public those Marks, automatically and without alteration, as part of the act of reposting Content with which you have associated those Marks.
				</p>
				<p>
			The licenses granted in this section are granted separately with respect to each item of Your Content that you post to the Platform. Licenses with respect to Content, and any images or text within your account, will (subject to the following paragraph of these Terms of Use) terminate automatically when you remove such Content from your account. Licenses with respect to comments or other contributions that you make on the Platform will be perpetual and irrevocable, and will continue notwithstanding any termination of your account.
				</p>
				<p>
			Removal of Content from your account will automatically result in the deletion of the relevant files from Orights’s systems and servers. However, notwithstanding the foregoing, you hereby acknowledge and agree that once Your Content is distributed to a Linked Service, Orights is not obligated to ensure the deletion of Your Content from any servers or systems operated by the operators of any Linked Service, or to require that any user of the Platform or any Linked Service deletes any item of Your Content.
				</p>
				<p>
			Any Content other than Your Content is the property of the relevant Uploader, and is or may be subject to copyright, trademark rights or other intellectual property or proprietary rights. Such Content may not be downloaded, reproduced, distributed, transmitted, re-uploaded, republished, displayed, sold, licensed, made available or otherwise communicated to the public or exploited for any purposes except via the features of the Platform from time to time and within the parameters set by the Uploader on the Platform or with the express written consent of the Uploader. Where you repost another user’s Content, or include another user’s Content in a set, you acquire no ownership rights whatsoever in that Content. Subject to the rights expressly granted in this section, all rights in Content are reserved to the relevant Uploader.
				</p>
			</div>

			<div class="row">
				<h3 id="Representations and Warranties">Representations and Warranties</h3>
			<p>
			You hereby represent and warrant to Orights as follows:
			<ol>
				<li> Your Content, and each and every part thereof, is an original work by you, or you have obtained all rights, licenses, consents and permissions necessary in order to use, and (if and where relevant) to authorize Orights to use, Your Content pursuant to these Terms of Use, including, without limitation, the right to upload, reproduce, store, transmit, distribute, share, publicly display, make available and otherwise communicate to the public Your Content, and each and every part thereof, on, through or via the Website, any and all Services and any Linked Services.
				<li> Your Content and the availability thereof on the Platform does not and will not infringe or violate the rights of any third party, including, without limitation, any intellectual property rights, rights of privacy or publicity, or rights in confidential information.
				<li> You have obtained any and all necessary consents, permissions and/or releases from any and all persons appearing in Your Content in order to include their name, image, photo, graphics, rights information in Your Content and to publish the same on the Platform and via any Linked Services.
				<li> Your Content, including any comments that you may post on the Website, is not and will not be unlawful, offensive, abusive, libelous, defamatory, obscene, racist, sexually explicit, ethnically or culturally offensive, indecent, will not promote violence, terrorism, or illegal acts, or incite hatred on grounds of race, gender, religion or sexual orientation.
				<li> Your Content does not and will not create any liability on the part of Orights, its subsidiaries, affiliates, successors, and assigns, and their respective employees, agents, directors, officers and/or shareholders.
			</ol>
			</p>
			<p>
			Orights reserves the right to remove Your Content, suspend or terminate your access to the Platform and/or pursue all legal remedies if we believe that any of Your Content breaches any of the foregoing representations or warranties, or otherwise infringes another person's rights or violates any law, rule or regulation.
			</p>
			</div>

			<div class="row">
				<h3 id="Liability for Content">Liability for Content</h3>
				<p>
			You hereby acknowledge and agree that Orights (i) stores Content and other information at the direction, request and with the authorization of its users, (ii) acts merely as a passive conduit and/or host for the uploading, storage and distribution of such Content, and (iii) plays no active role and gives no assistance in the presentation or use of the Content. You are solely responsible for all of Your Content that you upload, post or distribute to, on or through the Platform, and to the extent permissible by law, Orights excludes all liability with respect to all Content (including Your Content) and the activities of its users with respect thereto.
				</p>
				<p>
			You hereby acknowledge and agree that Orights cannot and does not review the Content uploaded by its users, and neither Orights nor its subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders has any obligation, and does not undertake or assume any duty, to monitor the Platform for Content that is inappropriate, that does or might infringe any third party rights, or has otherwise been uploaded in breach of these Terms of Use or applicable law.
				</p>
				<p>
			Orights and its subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders hereby exclude, to the fullest extent permitted by law, any and all liability which may arise from any Content uploaded to the Platform by users, including, but not limited to, any claims for infringement of intellectual property rights, rights of privacy or publicity rights, any claims relating to publication of defamatory, pornographic, obscene or offensive material, or any claims relating to the completeness, accuracy, currency or reliability of any information provided by users of the Platform. By using the Platform, you irrevocably waive the right to assert any claim with respect to any of the foregoing against Orights or any of its subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers or shareholders.
				</p>
			</div>

			<div class="row">
				<h3 id="Reporting Infringements">Reporting Infringements</h3>
				<p>
			If you discover any Content on the Platform that you believe infringes your copyright, please report this to us by email.
				</p>
				<p>
			If you would prefer to send us your own written notification, please make sure that you include the following information:
				<ul>
					<li>a statement that you have identified Content on Orights that infringes your copyright or the copyright of a third party on whose behalf you are entitled to act;
					<li>a description of the copyright work(s) that you claim have been infringed;
					<li>a description of the Content that you claim is infringing and the Orights URL(s) where such Content can be located;
					<li>your full name, address and telephone number, a valid email address on which you can be contacted, and your Orights user name if you have one;
					<li>a statement by you that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent, or the law; and
					<li>a statement by you that the information in your notice is accurate and that you are authorized to act on behalf of the owner of the exclusive right that is allegedly infringed;
				</ul>
				</p>
				<p>
			In addition, if you wish for your notice to be considered as a notice pursuant to the United States Digital Millennium Copyright Act 17 U.S.C. §512(c), please also include the following:
				<ul>
					<li>with respect to your statement that you are authorized to act on behalf of the owner of the exclusive right that is allegedly infringed, confirmation that such statement is made under penalty of perjury;
					<li>and your electronic or physical signature (which may be a scanned copy).
				</ul>
				</p>
				<p>
			Your notice should be sent to us by email.
				</p>
				<p>
			The foregoing process applies to copyright only. If you discover any Content that you believe to be in violation of your trademark rights, please report this to us by email. In all other cases, if you discover Content that infringes any or violates any of your other rights, which you believe is defamatory, pornographic, obscene, racist or otherwise liable to cause widespread offence, or which constitutes impersonation, harassment, spam or otherwise violates these Terms of Use, or applicable law, please report this to usby email.
				</p>
			</div>

			<div class="row">
			<h3 id="Third Party Websites and Services">Third Party Websites and Services</h3>
			<p>
			The Platform may provide you with access to third party websites, databases, networks, servers, information, software, programs, systems, directories, applications, products or services, including without limitation, Linked Services (hereinafter “External Services”).
			</p>
			<p>
			Orights does not have or maintain any control over External Services, and is not and cannot be responsible for their content, operation or use. By linking or otherwise providing access to any External Services, Orights does not give any representation, warranty or endorsement, express or implied, with respect to the legality, accuracy, quality or authenticity of content, information or services provided by such External Services.
			</p>
			<p>
			External Services may have their own terms of use and/or privacy policy, and may have different practices and requirements to those operated by Orights with respect to the Platform. You are solely responsible for reviewing any terms of use, privacy policy or other terms governing your use of these External Services, which you use at your own risk. You are advised to make reasonable enquiries and investigations before entering into any transaction, financial or otherwise, and whether online or offline, with any third party related to any External Services.
			</p>
			<p>
			You are solely responsible for taking the precautions necessary to protect yourself from fraud when using External Services, and to protect your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content and material that may be included on or may emanate from any External Services.
			</p>
			<p>
			Orights disclaims any and all responsibility or liability for any harm resulting from your use of External Services, and you hereby irrevocably waive any claim against Orights with respect to the content or operation of any External Services.
			</p>
			</div>

			<div class="row">
			<h3 id="Blocking and Removal of Content">Blocking and Removal of Content</h3>
			<p>
			Notwithstanding the fact that Orights has no legal obligation to monitor the Content on the Platform, Orights reserves the right to block, remove or delete any Content at any time, and to limit or restrict access to any Content, for any reason and without liability, including without limitation, if we have reason to believe that such Content does or might infringe the rights of any third party, has been uploaded or posted in breach of these Terms of Use, or applicable law, or is otherwise unacceptable to Orights.
			</p>
			<p>
			Please also note that individual Uploaders have control over Content that they store in their account from time to time, and may remove any or all Content or other Content without notice. You have no right of continued access to any particular item of Content and Orights shall have no liability in the event that you are unable to access an item of Content due to its removal from the Platform, whether by Orights or the relevant Uploader.
			</p>
			</div>

			<div class="row">
			<h3 id="Repeat Infringers">Repeat Infringers</h3>
			<p>
			Orights will suspend or terminate your access to the Platform if Orights determines, in its reasonable discretion, that you have repeatedly breached these Terms of Use.
			</p>
			<p>
			If we receive a valid notification from a third party in accordance with our reporting processes or applicable law that any of Your Content infringes the copyright or other rights of such third party, or if we believe that your behavior is inappropriate and violates our Terms of Use, we will send you a written warning to this effect. Any user that receives more than two of these warnings is liable to have their access to the Platform terminated forthwith.
			</p>
			<p>
			We will also suspend or terminate your account without warning if ordered to do so by a court, and/or in other appropriate circumstances, as determined by Orights at its discretion.
			</p>
			<p>
			Please note we do not offer refunds to Premium account holders whose accounts are terminated as a result of repeated infringement of these Terms of Use or our Community Guidelines.
			</p>
			</div>

			<div class="row">
			<h3 id="Disclaimer">Disclaimer</h3>
			<p>
			THE PLATFORM, INCLUDING, WITHOUT LIMITATION, THE WEBSITE, THE APPS AND ALL CONTENT AND SERVICES ACCESSED THROUGH OR VIA THE WEBSITE, THE APPS OR OTHERWISE, ARE PROVIDED “AS IS”, “AS AVAILABLE”, AND “WITH ALL FAULTS”.
			</p>
			<p>
			WHILST ORIGHTS USES REASONABLE ENDEAVOURS TO CORRECT ANY ERRORS OR OMISSIONS IN THE PLATFORM AS SOON AS PRACTICABLE ONCE THEY HAVE BEEN BROUGHT TO ORIGHTS’S ATTENTION, ORIGHTS MAKES NO PROMISES, GUARANTEES, REPRESENTATIONS OR WARRANTIES OF ANY KIND WHATSOEVER (EXPRESS OR IMPLIED) REGARDING THE WEBSITE, THE APPS, THE SERVICES OR ANY PART OR PARTS THEREOF, ANY CONTENT, OR ANY LINKED SERVICES OR OTHER EXTERNAL SERVICES. ORIGHTS DOES NOT WARRANT THAT YOUR USE OF THE PLATFORM WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE PLATFORM OR ANY PART OR PARTS THEREOF, THE CONTENT, OR THE SERVERS ON WHICH THE PLATFORM OPERATES ARE OR WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ORIGHTS DOES NOT WARRANT THAT ANY TRANSMISSION OF CONTENT UPLOADED TO THE PLATFORM WILL BE SECURE OR THAT ANY ELEMENTS OF THE PLATFORM DESIGNED TO PREVENT UNAUTHORISED ACCESS, SHARING OR DOWNLOAD OF CONTENT WILL BE EFFECTIVE IN ANY AND ALL CASES, AND DOES NOT WARRANT THAT YOUR USE OF THE PLATFORM IS LAWFUL IN ANY PARTICULAR JURISDICTION.
			</p>
			<p>
			ORIGHTS AND ITS SUBSIDIARIES, AFFILIATES, SUCCESSORS, AND ASSIGNS, AND THEIR RESPECTIVE EMPLOYEES, AGENTS, DIRECTORS, OFFICERS AND SHAREHOLDERS, SPECIFICALLY DISCLAIM ALL OF THE FOREGOING WARRANTIES AND ANY OTHER WARRANTIES NOT EXPRESSLY SET OUT HEREIN TO THE FULLEST EXTENT PERMITTED BY LAW, INCLUDING WITHOUT LIMITATION ANY EXPRESS OR IMPLIED WARRANTIES REGARDING NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
			</p>
			<p>
			WHERE THE LAW OF ANY JURISDICTION LIMITS OR PROHIBITS THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES AS SET OUT ABOVE, THE ABOVE DISCLAIMERS SHALL NOT APPLY TO THE EXTENT THAT THE LAW OF SUCH JURISDICTION APPLIES TO THIS AGREEMENT.
			</p>
			<p>
			<p>
			LIMITATION OF LIABILITY
			</p>
			<p>
			IN NO EVENT SHALL ORIGHTS’S AGGREGATE LIABILITY TO YOU UNDER THIS AGREEMENT EXCEED THE GREATER OF 100 US DOLLARS OR THE AMOUNTS (IF ANY) PAID BY YOU TO ORIGHTS DURING THE PREVIOUS TWELVE (12) MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM.
			</p>
			<p>
			ORIGHTS AND ITS SUBSIDIARIES, AFFILIATES, SUCCESSORS, AND ASSIGNS, AND THEIR RESPECTIVE EMPLOYEES, AGENTS, DIRECTORS, OFFICERS AND SHAREHOLDERS, SHALL HAVE NO LIABILITY FOR:
			</p>
			<p>
			ANY LOSS OR DAMAGE ARISING FROM:
			<ul>
				<li>(A) YOUR INABILITY TO ACCESS OR USE THE PLATFORM OR ANY PART OR PARTS THEREOF, OR TO ACCESS ANY CONTENT OR ANY EXTERNAL SERVICES VIA THE PLATFORM;

				<li>(B) ANY CHANGES THAT ORIGHTS MAY MAKE TO THE PLATFORM OR ANY PART THEREOF, OR ANY TEMPORARY OR PERMANENT SUSPENSION OR CESSATION OF ACCESS TO THE PLATFORM OR ANY CONTENT IN OR FROM ANY OR ALL TERRITORIES;

				<li>(C) ANY ACTION TAKEN AGAINST YOU BY THIRD PARTY RIGHTSHOLDERS WITH RESPECT TO ANY ALLEGED INFRINGEMENT OF SUCH THIRD PARTY’S RIGHTS RELATING TO YOUR CONTENT OR YOUR USE OF THE PLATFORM, OR ANY ACTION TAKEN AS PART OF AN INVESTIGATION BY ORIGHTS OR ANY RELEVANT LAW ENFORCEMENT AUTHORITY REGARDING YOUR USE OF THE PLATFORM;

				<li>(D) ANY ERRORS OR OMISSIONS IN THE PLATFORM’S TECHNICAL OPERATION, OR FROM ANY INACCURACY OR DEFECT IN ANY CONTENT OR ANY INFORMATION RELATING TO CONTENT;

				<li>(E) YOUR FAILURE TO PROVIDE ORIGHTS WITH ACCURATE OR COMPLETE INFORMATION, OR YOUR FAILURE TO KEEP YOUR USERNAME OR PASSWORD SUITABLY CONFIDENTIAL;
			</ul>
			</p>

			<p>
			ANY LOSS OR DAMAGE TO ANY COMPUTER HARDWARE OR SOFTWARE, ANY LOSS OF DATA (INCLUDING YOUR CONTENT), OR ANY LOSS OR DAMAGE FROM ANY SECURITY BREACH; AND/OR
			</p>
			<p>
			ANY LOSS OF PROFITS, OR ANY LOSS YOU SUFFER WHICH IS NOT A FORESEEABLE CONSEQUENCE OF ORIGHTS BREACHING THESE TERMS OF USE. LOSSES ARE FORESEEABLE WHERE THEY COULD BE CONTEMPLATED BY YOU AND ORIGHTS AT THE TIME YOU AGREE TO THESE TERMS OF USE, AND THEREFORE DO NOT INCLUDE ANY INDIRECT LOSSES, SUCH AS LOSS OF OPPORTUNITY.
			</p>
			<p>
			ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR RELATED TO YOUR USE OF THE PLATFORM MUST BE NOTIFIED TO ORIGHTS AS SOON AS POSSIBLE.
			</p>
			<p>
			APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU. IN SUCH CASES, YOU ACKNOWLEDGE AND AGREE THAT SUCH LIMITATIONS AND EXCLUSIONS REFLECT A REASONABLE AND FAIR ALLOCATION OF RISK BETWEEN YOU AND ORIGHTS AND ARE FUNDAMENTAL ELEMENTS OF THE BARGAIN BETWEEN YOU AND ORIGHTS, AND THAT ORIGHTS’S LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
			</p>
			<p>
			NOTHING IN THESE TERMS OF USE LIMITS OR EXCLUDES THE LIABILITY OF ORIGHTS, ITS SUBSIDIARIES, SUCCESSORS, ASSIGNS, OR THEIR RESPECTIVE EMPLOYEES, AGENTS, DIRECTORS, OFFICERS AND/OR SHAREHOLDERS: (I) FOR ANY DEATH OR PERSONAL INJURY CAUSED BY ITS OR THEIR NEGLIGENCE, (II) FOR ANY FORM OF FRAUD OR DECEIT, (III) FOR ANY DAMAGES CAUSED WILFULLY OR BY GROSS NEGLIGENCE, OR (IV) FOR ANY FORM OF LIABILITY WHICH CANNOT BE LIMITED OR EXCLUDED BY LAW.
			</p>
			</div>

			<div class="row">
			<h3 id="Indemnification">Indemnification</h3>
			<p>
			You hereby agree to indemnify, defend and hold harmless ORIGHTS, its successors, assigns, affiliates, agents, directors, officers, employees and shareholders from and against any and all claims, obligations, damages, losses, expenses, and costs, including reasonable attorneys' fees, resulting from:
			<ol>
				<li>(i) any violation by you of these Terms of Use;
				<li>(ii) any third party claim of infringement of copyright or other intellectual property rights or invasion of privacy arising from the hosting of Your Content on the Platform, and/or your making available thereof to other users of the Platform, and/or the actual use of Your Content by other users of the Platform or Linked Services in accordance with these Terms of Use and the parameters set by you with respect to the distribution and sharing of Your Content;
				<li>(iii) any activity related to your account, be it by you or by any other person accessing your account with or without your consent unless such activity was caused by the act or default of Orights.
			</ol>
			</p>
			</div>

			<div class="row">
			<h3 id="Data Protection Privacy and Cookies">Data Protection, Privacy and Cookies</h3>
			<p>
			All personal data that you provide to us in connection with your use of the Platform is collected, stored, used and disclosed by Orights in accordance with our Privacy Policy. In addition, in common with most online services, we use cookies to help us understand how people are using the Platform, so that we can continue to improve the service we offer. Our use of cookies, and how to disable cookies, is explained in our Cookies Policy. By accepting these Terms of Use and using the Platform, you also accept the terms of the Privacy Policy and our Cookies Policy.
			</p>
			</div>

			<div class="row">
			<h3 id="Changes to the Platform Accounts and Pricing">Changes to the Platform, Accounts and Pricing</h3>
			<p>
			Orights reserves the right at any time and for any reason to suspend, discontinue, terminate or cease providing access to the Platform or any part thereof, temporarily or permanently, and whether in its entirety or with respect to individual territories only. In the case of any temporary or permanent suspension, discontinuation, termination or cessation of access, Orights shall use its reasonable endeavors to notify registered users of such decision in advance.
			</p>
			<p>
			You hereby agree that Orights and its subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders shall not be liable to you or to any third party for any changes or modifications to the Website, Apps and/or any Services that Orights may wish to make from time to time, or for any decision to suspend, discontinue or terminate the Website, the Services or any part or parts thereof, or your possibility to use or access the same from or within any territory or territories.
			</p>
			<p>
			Orights may change the features of any type of account, may withdraw or, or introduce new features, products or types of account at any time and for any reason, and may change the prices charged for any of its Pro Accounts from time to time. In the event of any increase in the price or material reduction in the features of any Pro Account to which you have subscribed, such change(s) will be communicated to you and will only take effect with respect to any subsequent renewal of your subscription. In all other cases, where Orights proposes to make changes to any type of account to which you subscribe (Pro Account or otherwise), and these changes are material and to your disadvantage, Orights will notify you of the proposed changes by sending a message to your Orights account and/or an email to the then current email address that we have for your account, at least six (6) weeks in advance. You will have no obligation to continue using the Platform following any such notification, but if you do not terminate your account as described in the Termination section below during such six (6) week period, your continued use of your account after the end of that six (6) week period will constitute your acceptance of the changes to your account.
			</p>
			</div>

			<div class="row">
			<h3 id="Termination">Termination</h3>
			<p>
			You may terminate this Agreement at any time on the settings page by confirming such termination, by removing all of Your Content from your account, by deleting your account and thereafter by ceasing to use the Platform. If you have a Pro Account, and terminate this Agreement before the end of your subscription, we are unable to offer any refund for any unexpired period of your subscription.
			</p>
			<p>
			Orights may suspend your access to the Platform and/or terminate this Agreement at any time if (i) you are deemed to be a Repeat Infringer as described above; (ii) you are in breach of any of the material provision of these Terms of Use, including without limitation, the provisions of the following sections: Your Use of the Platform, Your Content, Grant of License , and Your Representations and Warranties; (iii) Orights elects at its discretion to cease providing access to the Platform in the jurisdiction where you reside or from where you are attempting to access the Platform, or (iv) in other reasonable circumstances as determined by Orights at its discretion. If you have a Pro Account and your account is suspended or terminated by Orights pursuant to (i) or (ii) above, you will not be entitled to any refund for any unexpired period of your subscription. If your account is terminated pursuant to (iii) or (iv), refunds may be payable at the reasonable discretion of Orights.
			</p>
			<p>
			Once your account has been terminated, any and all Content residing in your account, or pertaining to activity from your account, will be irretrievably deleted by Orights, except to the extent that we are obliged or permitted to retain such content, data or information for a certain period of time in accordance with applicable laws and regulations and/or to protect our legitimate business interests. You are advised to save or back up any material that you have uploaded to your account before terminating your account, as Orights assumes no liability for any material that is irretrievably deleted following any termination of your account. Orights is not able to provide you with any .csv or other similar file of data relating to activity associated with your account, whether before or after termination or cancellation. This data is provided and is accessible only for viewing via your account page on the Website for as long as your account is active.
			</p>
			<p>
			If you access the Platform via any of our Apps or via any third party app connected to your account, deleting that app will not delete your account. If you wish to delete your account, you will need to do so from the Account page within your Settings on the Website.
			</p>
			<p>
			The provisions of these Terms of Use that are intended by their nature to survive the termination or cancellation of this Agreement will survive the termination of this Agreement, including, but not limited to, those Sections entitled Your Orights Account, Your Content, Grant of License, Representations and Warranties, Liability for Content, Disclaimer, Limitation of Liability, Indemnification, Termination and Right of Cancellation, Assignment to Third Parties, Severability, Entire Agreement, and Applicable Law and Jurisdiction, respectively.
			</p>
			</div>

			<div class="row">
			<h3 id="Assignment to Third Parties">Assignment to Third Parties</h3>
			<p>
			Orights may assign its rights and (where permissible by law) its obligations under this Agreement, in whole or in part, to any third party at any time without notice, including without limitation, to any person or entity acquiring all or substantially all of the assets or business of Orights. You may not assign this Agreement or the rights and duties hereunder, in whole or in part, to any third party without the prior written consent of Orights.
			</p>
			</div>

			<div class="row">
			<h3 id="Severability">Severability</h3>
			<p>
			Should one or more provisions of these Terms of Use be found to be unlawful, void or unenforceable, such provision(s) shall be deemed severable and will not affect the validity and/or enforceability of the remaining provisions of the Terms of Use, which will remain in full force and effect.
			</p>
			</div>

			<div class="row">
			<h3 id="Entire Agreement">Entire Agreement</h3>
			<p>
			These Terms of Use, together with Privacy Policy and Cookies Policy, constitute the entire agreement between you and Orights with respect to your use of the Platform (other than any use of Orights’s APIs which may also be subject to separate API Terms of Use), and supersede any prior agreement between you and Orights. Any modifications to this Agreement must be made in writing.
			</p>
			</div>

			<div class="row">
			<h3 id="Third Party Rights">Third Party Rights</h3>
			<p>
			These Terms of Use are not intended to give rights to anyone except you and Orights. This does not affect our right to transfer our rights or obligations to a third party as described in the Assignment to Third Parties section.
			</p>
			</div>

			<div class="row">
			<h3 id="Applicable Law and Jurisdiction">Applicable Law and Jurisdiction</h3>
			<p>
			Except where otherwise required by the mandatory law of the Republic of Korea
			<ol>
			<li> this Agreement is subject to the laws of the Republic of Korea, excluding the UN Convention on Contracts for the International Sale of Goods (CISG) and excluding the principles of conflict of laws (international private law); and
			<li> you hereby agree, and Orights agrees, to submit to the exclusive jurisdiction of the courts in Seoul, Republic of Korea for resolution of any dispute, action or proceeding arising in connection with this Agreement.
			</p>
			<p>
			The foregoing provisions of this Applicable Law and Jurisdiction section do not apply to any claim in which Orights seeks equitable relief of any kind. You acknowledge that, in the event of a breach of this Agreement by Orights or any third party, the damage or harm, if any, caused to you will not entitle you to seek injunctive or other equitable relief against Orights, including with respect to Your Content, and your only remedy shall be for monetary damages, subject to the limitations of liability set forth in these Terms of Use.
			</p>
			</div>
			<p id="Last Amended"> Last Amended: March 7, 2014</p>

		</div>


		<!-- privacy content -->
		<div class="tab-pane" id="privacy">
			<h2>Privacy Policy</h2>
			<div class="row">
			<p>Welcome to Orights® (“Orights”, “we” “our”, or “us”).</p>
			<p>
				Your privacy is important to us. This Privacy Policy explains how we collect, store, use and disclose your personal information when you use orights.com and m.orights.com (together, the “Website”), our mobile and desktop apps (the "Apps") and all related sites, widgets, tools, apps, data, software, APIs and other services provided by Orights (the “Services”).
			</p>
			<p>
				This Privacy Policy governs the privacy terms of our Website, located at http://orights.com. Any capitalized terms not defined in our Privacy Policy, have the meaning as specified in our Terms of Service.
			</p>
			<p>
				By using the Website, the Apps or any of the Services, and in particular by registering an Orights® account, you are consenting to the use of your personal information in the manner set out in this Privacy Policy.
			</p>
			<p>
				For your convenience, information relating to our use of cookies and similar technologies is set out in a separate Cookies Policy. The Cookies Policy forms part of this Privacy Policy, and whenever we refer to the Privacy Policy, we are referring to the Privacy Policy incorporating the Cookies Policy.
			</p>
			<p>
				Please take some time to read this Privacy Policy (including the Cookies Policy), and make sure you are happy with our use and disclosure of your personal information.
			</p>
			<p>
				If you do not agree to any of the provisions of this Privacy Policy, you should not use the Website, the Apps or any of the Services. If you have any questions or concerns, you can contact us at team@orights.com.
			</p>
			<p>
				Please note that this Privacy Policy only applies to the Website, the Apps and the Services (together, the “Platform”). When using the Platform, you may find links to other websites, apps and services, or tools that enable you to share information with other websites, apps and services. Orights is not responsible for the privacy practices of these other websites, apps and services and we recommend that you review the privacy policies of each of these websites, apps or services before connecting your Orights® account or sharing any personal information. </p>
			</p>
			</div>

			<div class="row">
			<h3>Your Privacy</h3>
			<p>
			We strive to follow all legal requirements to protect your privacy. Our Privacy Policy is a legal statement that explains how we may collect information from you, how we may share your information, and how you can limit our sharing of your information. You will see terms in our Privacy Policy that are capitalized. These terms have meanings as described in the Definitions section below.
			</p>
			</div>

			<div class="row">
			<h3>Definitions</h3>
			<p>
			"Non Personal Information" is information that is not personally identifiable to you and that we automatically collect when you access our Website with a web browser. It may also include publicly available information that is shared between you and others.
			</p>
			<p>
			"Personally identifiable information" is non-public information that is personally identifiable to you and obtained in order for us to provide you within our Website. Personally identifiable information may include information such as your name, email address, and other related information that you provide to us or that we obtain about you.
			</p>
			</div>

			<div class="row">
			<h3>Information We Collect</h3>
			<p>
			Generally, you control the amount and type of information you provide to us when using our Website. As a Visitor, you can browse our website to find out more about our Website. You are not required to provide us with any personally identifiable information as a Visitor. However, certain Services do require that you register for a Orights® account and, by doing so, you will provide us with certain personal information:
			<ol>
				<li> Essential Information: When you register any kind of Orights® account, you will need to provide your email address and choose a password. In addition, you will also need to provide your payment verification information only in case you are subscribed to our Premium Services.
				<li> Profile Information: You are obliged to provide additional information for your public profile on Orights®, for example:
				<ul>
					<li> your real name
					<li> your company/organization name
					<li> your title/position
					<li> a profile picture or avatar
					<li> information about how you categorize yourself with respect to your content (for example, whether you are a literary agent, a publisher, or some other category.)
					<li>details of your other websites and social media profiles, including links to those websites and profiles
				</ul>
				<li>Information that you post: You may provide personal information when you upload rights guides to the Platform, or when you post comments, or contribute to community discussions.
			</ol>
			</p>
			</div>

			<div class="row">
			<h3>Computer Information Collected</h3>
			<p>
			When you use our Website, we automatically collect certain computer information by the interaction of your mobile phone or web browser with our Website. Such information is typically considered Non Personal Information. We also collect the following:

			<ol>
				<li>Cookies: Our Website uses "Cookies" to identify the areas of our Website that you have visited. A Cookie is a small piece of data stored on your computer or mobile device by your web browser. We use Cookies to personalize the Content that you see on our Website. Most web browsers can be set to disable the use of Cookies. However, if you disable Cookies, you may not be able to access functionality on our Website correctly or at all. We never place personally identifiable information in Cookies.
				<li>Automatic Information: We automatically receive information from your web browser or mobile device. This information includes the following:
					<ul>
						<li> The name of the website from which you entered our Website, if any
						<li> The name of the website to which you're headed when you leave our website
						<li> The IP address of your computer/proxy server that you use to access the Internet your Internet Website provider name
						<li> Web browser type, type of mobile device, and computer operating system
						<li> The specific actions that you take on the Website, including the pages that you visit, uploading or downloading information, connecting your Facebook or Google+ account, sharing a page with another user, following or unfollowing another user, joining or leaving a group, posting a comment, or performing a search
						<li> Any search terms that you may enter on the Website
						<li> The time, frequency, and duration of your visits to the Website
						<li> Information regarding your interaction (if any) with email messages, for example, whether you opened, clicked on, or forwarded the email message
					</ul>
			</ol>
			<p>We use all of this information to analyze trends among our Users to help improve our Website.</p>
			</div>

			<div class="row">
			<h3>How We Use Your Information</h3>
			<p>
			We use the information we receive from you as follows:
			<ul>
				<li>Your email address and password are used to identify you when you log into the Website.
				<li>Any additional information that you provide as part of your public profile, such as your real name, and links to your website and other social media profiles (but not your email address), will be published on your profile page. This information will be publicly accessible and may be viewed by anyone accessing the Website, or using our API or other Services. Please bear this in mind when considering whether to provide any additional information about yourself.
				<li>If you choose to upgrade to a premium account, your name, address and payment verification information will be used to process your account subscription and to collect your payment. All payment verification information is transmitted using industry-standard SSL (Secure Socket Layer) encryption. Orights also complies with the Payment Card Industry Security Standards.
				<li>Your email address will be used to send you service updates and notifications regarding your account, and (if you have elected to receive them using your account preferences) newsletters, marketing messages and certain email notifications.
				<li>Customizing Our Website: We may use the personally identifiable information you provide to us along with any computer information we receive to customize our Website.
				<li>Sharing Information with Affiliates and Other Third Parties: We do not sell, rent, or otherwise provide your personally identifiable information to third parties for marketing purposes. We may provide your personally identifiable information to affiliates that provide services to us with regards to our Website (i.e. payment processors, Website hosting companies, and third-party APIs, etc.); such affiliates will only receive information necessary to provide the respective services and will be bound by confidentiality agreements limiting the use of such information.
				<li>Data Aggregation: We retain the right to collect and use any Non Personal Information collected from your use of our Website and aggregate such data for internal analytics that improve our Website and Service as well as for use or resale to others. At no time is your personally identifiable information included in such data aggregations.
				<li>Legally Required Releases of Information: We may be legally required to disclose your personally identifiable information, if such disclosure is (a) required by subpoena, law, or other legal process; (b) necessary to assist law enforcement officials or government enforcement agencies; (c) necessary to investigate violations of or otherwise enforce our Legal Terms; (d) necessary to protect us from legal action or claims from third parties including you and/or other Members; and/or (e) necessary to protect the legal rights, personal/real property, or personal safety of http://orights.com, our Users, employees, and affiliates.
				<li> We may disclose your personal information if we feel this is necessary in order to protect or defend our legitimate rights and interests, or those of our users, employees, directors or shareholders, and/or to ensure the safety and security of the Platform and/or the Orights community.
				<li>In the context of a business transfer: We may transfer your personal information to any person or company that acquires all or substantially all of the assets or business of Orights, or on a merger of our business, or in the event of our insolvency.
			</ul>
			</p>
			</div>

			<div class="row">
			<h3>Links to Other Websites</h3>
			<p>
			Our Website may contain links to other websites that are not under our direct control. These websites may have their own policies regarding privacy. We have no control of or responsibility for linked websites and provide these links solely for the convenience and information of our visitors. You access such linked Websites at your own risk. These websites are not subject to this Privacy Policy. You should check the privacy policies, if any, of those individual websites to see how the operators of those third-party websites will utilize your personal information. In addition, these websites may contain a link to Websites of our affiliates. The websites of our affiliates are not subject to this Privacy Policy, and you should check their individual privacy policies to see how the operators of such websites will utilize your personal information.
			</p>
			</div>

			<div class="row">
			<h3>Security</h3>
			<p>
			The security of your personal information is important to us. The password that protects your personal information, as well as your credit card information, are encrypted during transmission using secure socket layer (SSL) technology, which is widely used on the Internet for this purpose. These data are also stored in encrypted form. Our website adheres to generally accepted industry standards to protect this information, both during transmission and once we receive it. These standards include the use of leading hardware and software applications. However, no method of transmission over the Internet or method of electronic storage is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your applicable information, we cannot guarantee its absolute security.
			</p>
			</div>

			<div class="row">
			<h3>Privacy Policy Updates</h3>
			<p>
			We reserve the right to modify this Privacy Policy at any time. You should review this Privacy Policy frequently. If we make material changes to this policy, we may notify you on our Website, by a blog post, by email, or by any method we determine. The method we chose is at our sole discretion. We will also change the "Last Updated" date at the beginning of this Privacy Policy. Any changes we make to our Privacy Policy are effective as of this Last Updated date and replace any prior Privacy Policies.
			</p>
			</div>

			<div class="row">
			<h3>Questions About Our Privacy Practices or This Privacy Policy</h3>
			<p>If you have any questions about our Privacy Practices or this Policy, please contact us.
			</p>
			</div>
			<p>Last Amended: March 7, 2014</p>
		</div>

		<!-- cookie content -->
		<div class="tab-pane" id="cookie">
			<h2>Cookie Policy</h2>
			<div class="row">
			<p>
			In common with most other websites, we use cookies and similar technologies to help us understand how people use Orights so that we can keep improving our Platform. We have created this Cookies Policy to provide you with clear and explicit information about the technologies that we use on Orights, and your choices when it comes to these technologies.
			</p>
			<p>
			If you choose to use the Platform without blocking or disabling cookies or opting out of other technologies, you will indicate your consent to our use of these cookies and other technologies and to our use (in accordance with this policy and the rest of our Privacy Policy) of any personal information that we collect using these technologies. If you do not consent to the use of these technologies, please be sure to block or disable them using your browser settings, the opt-out links identified in this policy, or the settings within our mobile apps.
			</p>
			</div>

			<div class="row">
			<h3>What are cookies?</h3>
			<p>
			Cookies are small text files that are placed on your computer by websites that you visit. These text files can be read by these websites and help to identify you when you return to a website. Cookies can be “persistent” or “session” cookies. Persistent cookies remain on your computer when you have gone offline, while session cookies are deleted as soon as you close your web browser. To find out more about cookies, including how to see what cookies have been set and how to block and delete cookies, please visit http://www.aboutcookies.org/.
			</p>
			</div>

			<div class="row">
			<h3>Orights Cookies</h3>
			<p>
			We use our own cookies to recognize you when you visit our website or use our apps. This means that you don’t have to log in each time you visit, and we can remember your preferences and settings. Those cookies with one- or two-letter names are Orights cookies.
			</p>
			</div>

			<div class="row">
			<h3>Third Party Cookies</h3>
			<p>
			In addition to our own cookies, we work with various reputable companies to help us analyze how the Platform is used, and to optimize our Website and Apps to deliver the best possible experience. The following companies help us achieve this through use of cookies:
			</p>
			<p>Google Analytics and Google Web Optimizer</p>
			<p>
				Google Analytics and Google Web Optimizer are services provided by Google, Inc. (“Google”). Google Analytics uses cookies to help us analyze how users use our website and mobile site. Google Web Optimizer uses the same cookies to measure how different users respond to different content. The information generated by these cookies (including your truncated IP address) is transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your, and other users’, use of our website, mobile site, compiling reports for us on website activity and providing other services relating to website activity and Internet usage. Please note that Google only receives your truncated IP address. This is sufficient for Google to identify (approximately) the country from which you are visiting our sites or accessing our players, but is not sufficient to identify you, or your computer or mobile device, individually.
			</p>
			<p>
				Google cookies are those beginning “__ut”.
			</p>
			<p>
				You can find more information <a href="http://www.google.com/intl/en/analytics/privacyoverview.html" target="_blank">here</a>, including a link to <a href="http://www.google.com/intl/en/privacy/privacy-policy.html" target="_blank">Google’s privacy policy</a>.
			</p>
			</div>

			<div class="row">
			<h3>Similar Technologies</h3>
			<p>In addition to cookies, we may use the following standard Internet technologies in connection with your use of the Platform:
			</p>
			<p>	Clear GIFs</p>
			<p>We use “clear GIFs”, sometimes known as “web bugs”, which are small image files that we embed into our email newsletters. These clear GIFs tell us whether you opened the newsletter, clicked on any of the content or forwarded the newsletter to someone else. This provides us with useful information regarding the effectiveness of our email newsletters, which we can use to ensure that we are delivering information that is relevant to our users.
			</p>
			</div>

			<div class="row">
			<h3>Opting Out</h3>
			<p>
			We think it’s important that you are able to control the collection of personal data relating to your use of Orights, and have therefore made sure that you can opt out of any personal data collection using cookies or other technologies as set out below.
			</p>
			<p>
			Cookies:
			</p>
			<p>
			You can use the settings within your browser to control the cookies that are set on your computer or mobile device. However, please be aware that cookies are important to many aspects for the Platform – if you set your browser to reject cookies, you may not be able to enjoy all of the features of the Platform. To find out how to see what cookies have been set and how to reject and delete cookies, please visit http://www.aboutcookies.org.
			</p>
			<p>To opt-out of analysis by Google Analytics on our website and other websites, please visit http://tools.google.com/dlpage/gaoptout.
			</p>
			<p>
			Clear GIFs:
			</p>
			<p>
			Clear GIFs are included in our email newsletters. You can unsubscribe from our newsletters at any time by following the link in the newsletter itself, or by changing your email preferences within your Settings in your Orights account.
			</p>
			<p>
			Consent to Cookies and Similar Technologies
			</p>
			<p>
			We have done our best to provide you with clear and comprehensive information about our use of cookies and similar technologies. If you choose to use the Platform without blocking or disabling cookies or opting out of these technologies (as described above), you will indicate your consent to our use of these cookies and other technologies and to our use (in accordance with this policy and our <a href="http://www.orights.com/terms/#privacy" target="_blank">Privacy Policy</a>) of any personal information that we collect using these technologies. If you do not consent to the use of these technologies, please be sure to block or disable them using your browser settings, the opt-out links above, or the settings on your mobile device.
			</p>
			</div>

			<p>Last Amended: March 7, 2014</p>
		</div>
	</div>
</article>


