<h1 style="text-align:center; margin-bottom: 60px;">Help Center</h1>

<div class="row">
	<div class="col-sm-6">
		<div class="well well-lg" style="text-align:center">
			<%= link_to 'FAQ', help_faqs_path %>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="well well-lg" style="text-align:center">
			<%= link_to 'Contact', contact_path %>
		</div>
	</div>
</div>