<div class="row">
<% object.each do |project| %>
	<div class="col-xs-6 col-md-3">
    <div class="thumbnail">
			<%= link_to image_for(project), project_url %> 
			<div class="caption">
				<h5><%= link_to project.name, project_url %></h5>
			</div>
		</div>
	</div>
<% end %>
</div>