
@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require jquery-ui/datepicker
 */

body > .container {
	padding: 60px 15px 0;
}

.media-body { 
  h2 {
    margin-top: -3px;
    a:hover {
      text-decoration: none;
    }
  }
}

.media-object {
  img {
    padding-right: 15px;
  }
}



.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
  
  .text-muted {
    margin: 20px 0;
  }
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}