
@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require jquery-ui/datepicker
 */

body {
  background-color: #f7fafa;
}
body > .container {
       padding: 60px 40px 0;
}

.navbar-default {
  background-color: #FFFFFF;
}

.navbar-right {
  font-weight: bold;
}

.btn-lg {
  height: 70px;
  padding: 0 100px;
}  

h3 {
  font-weight: normal;
}

h5 a {
  color: black; 
}

.caption {
  overflow: hidden;
  font-size: 13px;

  p {
    color: #828587;
  }
}

.info-box {
  margin: 10px 0 10px 0;
  padding: 0px;

  ul {
    padding: 0px;
    margin: 0px;
  }

  li {
    text-decoration: none;
    display: inline-block;
    width: 80px;
    float: left;
    margin-right: 10px;
  }
}


.container .text-muted {
  margin: 20px 0;
}

.profile-image {
  width: 50px;
  height: 50px;
}

.form-group {
  max-width: 600px;
  }

.short {
    width: 300px;
  }

.form-lg {
    color: #2bde73;
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 15px;
    width: 300px;
    height: 60px;
    border: 1px solid #2bde73;
  }


.header {
  text-align: center;
  margin: 30px 0 50px 0;
  h4 {
    color: #828587;
    font-weight: normal;
    line-height: 40px;
  }
}

.container-border {
  width: 100%;
  margin: 30px 0 50px 0;
  padding: 30px 10px 30px 10px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #FFFFFF;
  
  .main-image {
    width: 100%;
  }

  .row {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 20px 0 20px; 

    h1 {
    font-size: 48px;
    }
}

  .created-by {
    background: #e8f6ff;
    border-radius: 5px;
  }

  .description {
  font-size: 16px;
  }
}


.green-box {
  padding: 10px;
  background: #f7fafa;
  border: 1px solid #d9d9de;
}

.time {
  font-size: 13px;
  color: #828587;
}

/* category */
.category-listing {
  border: 1px solid #d9d9de;
  border-radius: 12px; 
  padding: 25px; 
  margin: 15px 15px 0 0;

    h2 {
      margin: 5px;
    }
}

/* user page */
.user-page-header {
  padding-top: 20px;
  margin-bottom: 25px;
  min-height: 250px;
  border-bottom: 2px solid #eee;
}

.user-page-body {
  .badge.pull-right {
    margin-left: 5px;
  }
  .badge {
  background: #969696;
  }
  .nav.nav-tabs a {
    color: #525252;
  }
}

