<h1>Choose Category</h1>

<ul>
<% @categories.each do |category| %>
	<li><%= link_to category.name, category_path(category) %> (<%= pluralize(category.projects.count, 'project') %> listed)</li>


<% end %>
</ul>