<h1 style="text-align:center">Explore an inspiring universe</h1>

<% @categories.each do |category| %>
<div class="col-md-4">

		<h2>
			<%= link_to category.name, category_path(category), class: 'category-listing' %> (<%= category.projects.count %>) 
		</h2>

</div>

<% end %>
