<div class="footer">
  <div class="container">
    <div class="text-muted">
    	<div class="row">
    		<div class="col-md-4">
			    <ul style="list-style-type:none">
			    	<strong>Fake-Kickstarter.com</strong>
			    	<li><%= link_to 'Help', help_path %></li>
			    	<li><%= link_to 'FAQ', help_faqs_path %></li>
			    	<li><%= link_to 'Contact', contact_path %></li>
			    </ul>
		    </div>

		    <div class="col-md-4">
			    <ul style="list-style-type:none">
			    	<strong>Discover</strong>
			    		<li>Art</li>
			    		<li>Comics</li>
			   			<li>Crafts</li>
			   			<li>Dance</li>
			   			<li>Design</li>
			   			<li>Fashion</li>
			    </ul>
		    </div>

		    <div class="col-md-4">
		    	<p>Copyright &copy; 2014 Jungdo Lee</p>
	    	</div>
	    </div>
    </div>
  </div>
</div>